/* https://www.schemecolor.com/purple-and-beige.php */

:root{
  --purple: #9575b1;
  --beige: #dfc99a;
  --green: #aaebb8;
  --yellow: #f5f3a3;
  --grey: #e7e7e7;
}

button{
    background-color: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5E7D1;
    color: #8B72BE;
    overflow:hidden;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin:10px;
   }
h2 {
   font-style: italic;
   margin:10px;
   margin-top:-10px;
   background-color: #f1e4dd;
   border: solid 2px #a172be;
   color: #9675d8;
   border-radius: 5%;
   padding: 5px;
   animation: fadein 2s;
   font-size: 200%;
   position: absolute;
   left: 37%;
   bottom: 50%;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

#game-board {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.letter-box {
border: 2px solid #CAB9D9;
border-radius: 3px;
margin: 2px;
font-size: 2.5rem;
font-weight: 700;
height: 3rem;
width: 3rem;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
background-color: #F5D9C8;
}

.filled-box {
border: 2px solid #CAB9D9;
}

.letter-row {
display: flex;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.75rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F5D9C8;
    color: #8B72BE;
    outline: none;
    border: 2px solid #CAB9D9;
  }

  @media only screen and (max-width:500px) {
    #keyboard-cont {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
    }
    .keyboard-button{
      font-size: 1rem;
      padding: 20px 9px 20px 9px;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0 2px;
      cursor: pointer;
      text-transform: uppercase;
      background-color: #F5D9C8;
      color: #8B72BE;
      outline: none;
      border: 2px solid #CAB9D9; 
  }
}

@media only screen and (min-width:850px) {
  h1,h2 {
    font-size: 4rem;
  }
  #keyboard-cont {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .keyboard-button{
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F5D9C8;
    color: #8B72BE;
    outline: none;
    border: 2px solid #CAB9D9; 
}

.letter-box {
  border: 2px solid #CAB9D9;
  border-radius: 3px;
  margin: 3px;
  font-size: 4rem;
  font-weight: 700;
  height: 4.2rem;
  width: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #F5D9C8;
  }
}

.letter-row {
  display: flex;
  margin:0.2rem;
  }